# Python
training/venv/
training/data/
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.user

# C#
backend/**/bin/
backend/**/obj/
*.sln.docstates

# Node
frontend/node_modules/
frontend/dist/
frontend/build/

# env
.env